<!DOCTYPE html>
<html lang="en"> 
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="carrito">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->
<%- include('./partials/popUpProduct') %> 

<!-- MAIN -->
    <main class="main-carrito">
        <h1>Carrito</h1>
        <section class="main_section-muestra">
            <% if (products.length === 0) { %>
                <h4>PRODUCTOS (<%- products.length %>)</h4>
            <% } else { %>
                <h4>PRODUCTOS (<%= products.length %> )</h4>
                <% products.forEach(product => { %>
                    <article class="carrito-funkos">
                        <div class="muestra-funko">
                            <div class="muestra-img">
                                <img src="/img/productos/<%- product.images[0].image %>" alt="<%- product.name %>">
                            </div>
                            <div class="muestra-caracteristica">

                                <% if (product.name.length > 20) { %>
                                    <strong><%- `${product.name.slice(0,17)}...` %></strong>
                                <% } else { %>
                                    <strong><%- product.name %></strong><br>
                                <% } %></p>

                                <p>Caracteristica: Sin ma...</p> 
                                <a href="" class="muestra_carac-funko" onclick="removeAll(`<%- product.id %>`, `<%= session.user.id %>`)">Eliminar</a><br>
                                <p >Unidad $<%- product.price %></p>
                            </div>
                        </div>
                        <div class="btn_carrito-aumento">
                            <button onclick="removeOne(`<%- product.id %>`, `<%= session.user.id %>`)"><i class="fa-solid fa-minus"></i></i></button>
                            <p><%- product.quantity %></p>
                            <button onclick="addToCart(`<%= product.id %>`, 1,`<%= session.user.id %>`)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <div class="carrito-precio">
                            <p class="p_espacio-carrito subtotal">Subtotal: $<%- (Number(product.price) * Number(product.quantity))%></p>
                        </div>
                    </article>
                <% }) %>

  
            <div class="bottom-carrito">
                <article class="costo-envio">
                    <div class="domicilio">
                        <p class="p_espacio-carrito">Enviar al domicilio: </p>
                        <a href="/usuarios/perfil" class="envio-domicilio"><%- userAddress.addresses.length > 0 ? userAddress.addresses[0].address : "Agregar dirección" %> <%- userAddress.addresses.length > 0 ? userAddress.addresses[0].number : "" %></a>
                    </div>
                    <div class="total-precio">
                    <p class="p_espacio-carrito">Total:</p>
                    <p class="dinero-domicilio" id="totalProducts">$0</p>
                    </div>
                </article>
                <div class="methods-payment">
                  <label class="dinero-domicilio" for="">Formas de pago: </label>
                  <select name="credit" id="credit">
                    <option value="visa">Visa</option>
                    <option value="masterCard">MasterCard</option>
                    <option value="pagoFacil">Pago Facil</option>
                    <option value="cabal">Cabal</option>
                  </select>
                </div>
                <article class="btn-finalizar">
                    <button class="btn-buy-cart" onclick="buyCart(`<%= carritoOrder %>` , `<%= user %>`)">COMPRAR</button>
                </article>
            </div>
            <div class="btnClearCart">
                <button class="clear-cart" onclick="clearCart(`<%= user %>`)">
                    <i style="color: red" class="fa-solid fa-dumpster-fire"></i>
                    <span> Vaciar carrito</span>
                </button>
            </div>
            <% } %> 
        </section>
        <!-- Catálogo -->
         <%- include('partials/catalogoSlider') %>
        <h2 class="novedad-h2">Novedad</h2>
        <img
          class="banner-bottom"
          src="/img/productos/novedad.png"
          alt="Banner Bottom Funko"
        />
    </main>
<!-- END MAIN -->
<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<script src="../js/cart.js" defer></script>
<script src="../js/cartTotal.js" defer></script>

</body>
</html>