<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="product-datail">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->

<!-- MAIN -->
<main class="mainProduct">
    <section id="section3">
        <div class="title">
            <h2 class="title-listado">FRANQUICIA: <% categorias.forEach(categoria => { %><%= categoria.id == idCategory ? categoria.name : "" %><% }) %></h2>
        </div> 
        <div class="bannerFranquicias">
            <img src="/img/noAdmin/<% categorias.forEach(categoria => { %><%= categoria.id == idCategory ? categoria.name : "" %><% }) %>.jpg"  alt="Banner de <% categorias.forEach(categoria => { %><%= categoria.id == idCategory ? categoria.name : "" %><% }) %>">
        </div>
        <div class="interest">
            <%- include('./partials/productCard')  %> 
        </div>
    </section>
</main>
<!-- END MAIN -->

<!-- FOOTER -->
    <%- include('./partials/footer')  %> 
<!-- END FOOTER -->
    <!-- <script src="/js/productDetail.js" defer></script> -->
    <script src="/js/users/darkMode.js" type="text/javascript" defer></script>
    <script src="/js/header.js" defer></script>
</body>
</html>