<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="product-datail">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->

<!-- MAIN -->
<main>
    <section id="section3">
        <div class="title">
            <h2 class="title-listado">FRANQUICIA: <%= categoria.name %> </h2>
        </div> 
        <div class="interest">
            <%- include('./partials/productCard')  %> 
        </div>
    </section>
</main>
<!-- END MAIN -->

<!-- FOOTER -->
    <%- include('./partials/footer')  %> 
<!-- END FOOTER -->
    <script src="../../js/productDetail.js"></script>
</body>
</html>