<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body>
<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->

<!-- MAIN -->

    <main>
      <div class="carrousel-container">
        <!-- Banner -->
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
          data-bs-interval="3000"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="banner-container">
                <div class="banner-text">
                  <p>Nuevo Lanzamiento!</p>
                  <h2>The Batman ya está disponible!</h2>
                  <p class="banner-subtitle">
                    Aprovechá la oportunidad de obtenerlo hasta que se agote el
                    stock!
                  </p>
                  <a href="#">Ver Tienda</a>
                </div>
                <a href="#"
                  ><img
                    class="product-banner"
                    src="/img/productos/Batman.png"
                    alt="Batman"
                /></a>
              </div>
            </div>

            <div class="carousel-item">
              <div class="banner-container banner-container2">
                <div class="banner-text">
                  <p>Nuevo Lanzamiento!</p>
                  <h2>Candle Lumiere ya está disponible!</h2>
                  <p class="banner-subtitle">
                    Aprovechá la oportunidad de obtenerlo hasta que se agote el
                    stock!
                  </p>
                  <a href="#">Ver Tienda</a>
                </div>
                <a href="#"
                  ><img
                    class="product-banner"
                    src="img/productos/funkoLumiere.png"
                    alt="Lumiere"
                /></a>
              </div>
            </div>

            <div class="carousel-item">
              <div class="banner-container banner-container3">
                <div class="banner-text">
                  <p>Nuevo Lanzamiento!</p>
                  <h2>Mandalorian ya está disponible!</h2>
                  <p class="banner-subtitle">
                    Aprovechá la oportunidad de obtenerlo hasta que se agote el
                    stock!
                  </p>
                  <a href="/productos/detalle/80">Ver Tienda</a>
                </div>
                <a href="/productos/detalle/80"
                  ><img
                    class="product-banner"
                    src="img/productos/funkoMandalorian.png"
                    alt="Mandalorian"
                /></a>
              </div>
            </div>

            <div class="carousel-item">
              <div class="banner-container banner-container4">
                <div class="banner-text">
                  <p>Nuevo Lanzamiento!</p>
                  <h2>Gwen Stacy ya está disponible!</h2>
                  <p class="banner-subtitle">
                    Aprovechá la oportunidad de obtenerlo hasta que se agote el
                    stock!
                  </p>
                  <a href="#">Ver Tienda</a>
                </div>
                <a href="#"
                  ><img
                    class="product-banner"
                    src="img/productos/funkoGwenStacy.png"
                    alt="Gwen Stacy"
                /></a>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- FRANQUICIAS -->
      <div class="page_container"> 
          <div class="sales-container">
            <div class="sales-top">
              <p class="sales-title">Franquicias</p>
              <a href="/franquicias">Ver más</a>
            </div>
            <div class="carrusel">
              <div class="carrusel-items">
                <% categorias.forEach(categoria => { %>
                  <div class="carrusel-item">
                      <a href="/franquicias/detalle/<%= categoria.id %> ">
                          <div id="img-category">
                            <img id="category" src="/img/categorias/<%= categoria.image  %>" alt="Categoria: <%= categoria.name %>">
                          </div>
                      </a>
                  </div>
                <% }) %>
                <% categorias.forEach(categoria => { %>
                  <div class="carrusel-item">
                      <a href="/franquicias/detalle/<%= categoria.id %> ">
                          <div id="img-category">
                            <img id="category" src="/img/categorias/<%= categoria.image  %>" alt="Categoria: <%= categoria.name %>">
                          </div>
                      </a>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        <!-- Ofertas -->

        <div class="sales-container">
          <div class="sales-top">
            <p class="sales-title">Ofertas</p>
            <a href="/productos/ofertas">Ver más</a>
          </div>
          <div class="sales-box-container">
            <% productosOff.forEach(producto => { %>
              <div class="product">
                  <a href="/productos/detalle/<%- producto.id %>" class="img">
                  <img src="/img/productos/<% producto.images.forEach(img => { %><%= img.image %><% }) %>" class="img-product" alt="<%- producto.name %>">
                  </a>
                  <div class="description">
                      <p class="funko-name"><%= producto.name %></p>
                      <% if (producto.discount > 0) { %>
                          <div id="product-discount">
                              <p class="funko-prices">$ <%= toThousand (producto.price - producto.discount * producto.price / 100) %></p> 
                              <p class="off"><%= producto.discount %> % OFF</p>
                          </div>
                      <% } else { %>
                          <p class="funko-prices">$ <%= toThousand (producto.price) %></p>
                      <% } %>
                      <% if (producto.discount > 0) { %>
                          <% let precioDescuento = producto.price - producto.discount * producto.price / 100 %>
                          <p id="cuotas">en <%= producto.cuotes %> x $ <%= toThousand ((precioDescuento / producto.cuotes).toFixed(0)) %></p>
                      <% } else { %>
                          <p id="cuotas">en <%= producto.cuotes %> x $ <%= toThousand((producto.price / producto.cuotes).toFixed(0)) %></p>
                      <% } %>
                      <p class="funko-cuotes">Sin Interés</p>
                      <button>Agregar al carrito</button>
                  </div>
              </div>
             <% }) %>
          </div>
        </div>
        <!-- Catálogo -->
        <%- include('partials/catalogoSlider') %> 

      </div>
      <img
        class="banner-bottom"
        src="img/productos/funko_bannerbottom.jpg"
        alt="Banner Bottom Funko"
      />
    </main>

<!-- FIN MAIN -->

<!-- FOOTER -->
  <%- include('partials/footer') %> 
<!-- END FOOTER -->
<script src="./js/sliderAutomatic.js" defer></script>

  </body>
</html>
