<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="forms login">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->
    <div id="particles-js"></div>
<!-- MAIN -->
    <main class="main_login-container">
        <section class="form-container login">
            <h1>Inicia sesión</h1>
            <form action="/usuarios/inicio" method="POST">
                <% if (locals.errors && errors.custom) { %>
                    <small class="text-danger"><%= errors.custom.msg %></small>
                <% } %>
                <div class="input-container">
                    <input class="input-style" placeholder="Email o usuario" type="text" name="email">
                    <% if (locals.errors && errors.email) { %>
                        <small class="text-danger"><%= errors.email.msg %> </small>
                    <% } %> 
                </div>
                <div class="input-container pass-container">
                    <input class="input-style" placeholder="Contraseña" type="password" name="password" id="password">
                    <% if (locals.errors && errors.password) { %>
                        <small class="text-danger"><%= errors.password.msg %> </small>
                    <% } %> 
                    <i class="fa-solid fa-eye-slash" id="eye"></i>
                </div>
                <div class="input-container_login">
                    <label for="recuerdame">Recuerdame<input type="checkbox" name="recuerdame" id="recuerdame" class="checkbox"></label>
                    <a class="a-contraseña" href="">¿Necesitas ayuda?</a>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-submit">INICIAR SESIÓN</button>
                </div>
                <span class="span-register">¿No tienes una cuenta de Funko? <a href="/usuarios/registro">Regístrate</a></span>
            </form>
        </section>
    </main>
<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<!-- Scripts -->
    <script src="/js/seePassword.js"></script>
    <script src="/js/particlesFunko/particles.min.js"></script>
    <script src="/js/particlesFunko/funkoParticle.js"></script>
</body>
</html>