<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="product-datail">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->

<!-- MAIN -->
    <main>
        <section id="section3">
            <div class="title">
                <h2 class="title-listado">OFERTAS:</h2>
            </div> 
            <div class="interest">
                <% productos.forEach(producto => { %>
                    <div class="product">
                        <a href="productos/detalle/<%- producto.id %>" class="img">
                        <img src="/img/productos/<% producto.images.forEach(img => { %><%= img.image %><% }) %>" class="img-product" alt="<%- producto.name %>">
                        </a>
                        <div class="description">
                            <p class="funko-name"><%= producto.name %></p>
                            <p class="funko-prices">$<%= producto.price %></p>
                            <p class="funko-cuotes">en <%= producto.cuotes %> x $1.933,33</p>
                            <p class="funko-cuotes">Sin Interés</p>
                            <button>Agregar al carrito</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>
<!-- END MAIN -->

<!-- FOOTER -->
    <%- include('./partials/footer')  %> 
<!-- END FOOTER -->
    <script src="../../js/productDetail.js"></script>
</body>
</html>