<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="forms perfilUser">
<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->

<!-- MAIN -->
<main>

    <div class="perfilH1">
        <h1>AJUSTES DE LA CUENTA</h1>
        <p>Administra la cuenta que has compartido con Funko e incluye tu nombre, dirección de contacto y más.</p>
    </div>
    <div class="contendor-avatar">
        <div class="imgUser">
        <% if (typeof session.user != "undefined") { %>
            <img src="/img/users/<%= session.user.icon %>" alt="Foto de perfil de <%= session.user.name  %> ">
        <% } %> 
        </div>
        <div class="inputFile">
            <span>Subir imagen</span>
            <input type="file" name="icon">
        </div> <!-- Ver solucion para cambiar la imagen -->
    </div>

    <div class="contenedor-nameUser">
        <div>
            <input type="text" name="userName" id="userName" placeholder="<%= user.userName %>" disabled>
            <button class="btnOpenPop-up"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>
        <div>
            <input type="email" name="email" id="email" placeholder="AGREGAR DIRECCIÓN" disabled>
            <button id="btnPopOpen"><i class="fa-solid fa-location-dot"></i></button>
        </div>
    </div>
    <div class="contenedor-datos">
        <div class="perfilh4">
            <h5>DATOS PERSONALES</h5>
            <p>Administra tu nombre y dirección. Estos datos personales son privados y no se mostrarán a otros usuarios. Consulta nuestra <a href="/enlaces-utiles/politicas-de-privacidad">política de privacidad</a> </p>
        </div>
        <form action="/usuarios/perfil?_method=PUT" method="POST">
            <div class="nom_ape-container">
                <div>
                    <input type="text" name="name" id="name" value="<%=user.name%>">
                </div>
                <div>
                    <input type="text" name="lastName" id="lastName" value="<%=user.lastName%>">
                </div>
            </div>
            <div class="pais_tel-contenedor">
                <select class="selec-container" name="province" id="province">
                    <% for( const oneProvince of provinces ) { %>
                        <option value="<%= oneProvince %>" <%= (oneProvince === user.province) ? 'selected' : null %> > <%= oneProvince %> </option>
                    <% } %>
                </select>
                <div >
                    <input class="input-style" placeholder="Celular" type="tel" name="phone" id="phone" value="<%=user.phone%>">
                </div>
            </div>
            <div class="btn-cambios">
                <button class="btnDelete" type="reset">DESCARTAR LOS CAMBIOS</button>
                <button class="btnSubmit" type="submit">GUARDAR CAMBIOS</button>
            </div>
        </form>
    </div>
    <% if (user.addresses) { %>
        <div class="tableAddress">
            <table class="table table-hover">
                <h5>MIS DIRECCIONES</h5>
                <thead>
                    <tr>
                        <th>Provincia</th>
                        <th>Calle</th>
                        <th>Ciudad</th>
                        <th>Barrio</th>
                        <th>Depto</th>
                        <th>Cod. Postal</th>
                        <th>Timbre</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                  <% user.addresses.forEach(address => { %>
                  <tr>
                    <td><%- user.province %></td>
                    <td><%- address.address %></td>
                    <td><%- address.city %></td>
                    <td><%- address.neighborhood %></td>
                    <td><%- address.departament %></td>
                    <td><%- address.postal_code %></td>
                    <td><%- address.doorbell %></td>
                    <td>
                      <form action="/usuarios/direcciones/<%- address.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-outline-danger" type="submit">Eliminar</button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    <% } %>

    <div class="overlay">
        <div class="pop-up">
            <div class="squareLogo">
                <a href="" class="closePop-up"><i class="fas fa-times"></i></a>
                <img src="/img/productos/Logo.svg" alt="Logo Funko">
            </div>
            <article>
                <h5>Confirmar el cambio de nombre de usuario</h5>
                <p><b>Aviso:</b> Si cambias el nombre de pantalla de Funko, no puedes volver a cambiarlo durante 2 semanas luego de confirmar este cambio.</p>
                <b>Nombre en pantalla actual: <%  %></b>
            </article>
            <form action="/usuarios/perfil?_method=PUT" method="POST">
                <div class="input">
                    <input type="text" placeholder="Nuevo nombre de usuario" name="userName" id="userName">
                    <!-- <input type="text" placeholder="Confirme nombre de usuario" name="userName" id="userName"> -->
                </div>
                <button class="btnSubmit" type="submit">CONFIRMAR</button>
            </form>
        </div>
    </div>

    <div class="overlay" id="overlay">
        <div class="pop-up" id="pop-up">
            <div class="squareLogo">
                <a href="" class="closePop-up" id="closePop-up"><i class="fas fa-times"></i></a>
                <img src="/img/productos/Logo.svg" alt="Logo Funko">
            </div>
            <article>
                <h5>Agregar más direcciones donde estoy ubicado</h5>
                <p><b>Aviso:</b> Podras administrar todas tus direcciones donde lleguen los pedidos de nuestro e-shop.</p>
            </article>
            <div class="contenedor-direccion">
                <form action="/usuarios/direcciones" method="POST">
                    <div class="contenedor-address">
                        <div class="input-container">
                            <input class="input-style" placeholder="Dirección" type="text" name="address" id="address">
                            <input class="input-style" placeholder="Ciudad" type="text" name="city" id="city">
                        </div>
                    </div>
                    <div class="contenedor-bottom">
                        <div class="input-barrio">
                            <input class="input-style" placeholder="Barrio" type="text" name="neighborhood" id="neighborhood">
                            <input class="input-style" placeholder="Código postal" type="text" name="postal_code" id="postal_code">
                            <input class="input-style" placeholder="Departamento" type="text" name="departament" id="departament">
                            <input class="input-style" placeholder="Timbre" type="text" name="doorbell" id="doorbell">
                        </div>
                    </div>
                    <button class="btnSubmit" type="submit">CONFIRMAR</button>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<script src="../js/overlay.js"></script>
</body>
</html>