<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="product-datail">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->
<%- include('./partials/popUpProduct') %> 

<!-- MAIN -->
    <main class="mainProduct">
        <section id="section3">
            <div class="title">
                <h2 class="title-listado">TODOS LOS PRODUCTOS:</h2>
            </div> 
            <div class="interest">
                <%- include('./partials/productCard')  %> 
            </div>
        </section>
    </main>
<!-- END MAIN -->

<!-- FOOTER -->
    <%- include('./partials/footer')  %> 
<!-- END FOOTER -->
    <!-- <script src="../../js/productDetail.js"></script> -->
    <script src="../../js/cart.js" defer></script>

</body>
</html>