<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="product-datail">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->

<!-- MAIN -->
    <main>
        <section id="section1">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/productos/<%= image %>" class="img-product" alt="<%= producto.name %>">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/productos/<%= image %>" class="img-product" alt="<%= producto.name %>">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <i class="fa-solid fa-angle-left" id="angle-left"></i>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <i class="fa-solid fa-angle-right" id="angle-right"></i>
                </button>
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
            </div>
            <div class="product-detail">
                <p id="name"><%= producto.name %></p>
                <% if (producto.discount > 0) { %>
                    <div id="product-discount">
                        <p class="funko-prices">$ <%= toThousand ((producto.price - producto.discount * producto.price / 100).toFixed(0)) %></p> 
                        <p class="off"><%= producto.discount %> % OFF</p>
                    </div>
                <% } else { %>
                    <p class="funko-prices">$ <%= toThousand ((producto.price).toFixed(0)) %></p>
                <% } %>
                <% if (producto.discount > 0) { %>
                    <% let precioDescuento = producto.price - producto.discount * producto.price / 100 %>
                    <p id="cuotas">en <%= producto.cuotes %> x $ <%= toThousand ((precioDescuento / producto.cuotes).toFixed(0)) %> Sin interés</p>
                <% } else { %>
                    <p id="cuotas">en <%= producto.cuotes %> x $ <%= toThousand((producto.price / producto.cuotes).toFixed(0)) %> Sin interés</p>
                <% } %>
                <div id="truck">
                    <img src="/img/productos/truck-fast-solid.png" class="truck">
                    <p>Envíos a todo el país</p>
                </div>
                <a href="" id="send">calcular costo de envío</a>
                <div class="btn-quantity">
                    <div id="res">-</div>
                    <div id="num">1</div>
                    <div id="sum">+</div>
                </div>
                <a href="/productos/carrito" class="btn-buy">Comprar ahora</a>
                <% if (session.user !== undefined) { %>
                    <button class="btn-add" onclick="addToCart(`<%- producto.id %>`, 1,`<%= user %>`)">Agregar al carrito</button>
                <% } %> 
            </div>
        </section>

        <section id="section2">
            <div class="means-money">
                <div id="tittle">
                    <p>Medios de pago</p>
                    <i class="fas fa-angle-down" id="medios"></i>
                </div>
                <div id="items">
                    <p>Tarjetas de crédito</p>
                    <img src="/img/productos/Credito.jpg" alt="Se puede pagar con tarjetas de crédito con Me ">
                    <p>Tarjetas de débito</p>
                    <img src="/img/productos/Debito.jpg" alt="Formas de pago con tarjetas débito Maestro, Mastercard, Cabal y Visa.">
                    <p>Efectivo</p>
                    <img src="/img/productos/Efectivo.jpg" alt="Formas de pago en efectivo con Pago Facíl, Rapi Pago y Provincia NET.">
                </div>
            </div>
            <div class="description">
                <div id="tittle">
                    <p>Descripción</p>
                    <i class="fas fa-angle-down" id="description"></i>
                </div>
                <div id="item">
                    <p><%= producto.description %></p>
                </div>
            </div>
        </section>
        <!-- Catálogo -->
        <%- include('partials/catalogoSlider') %> 
    </main>
<!-- END MAIN -->

<!-- FOOTER -->
    <%- include('./partials/footer')  %> 
<!-- END FOOTER -->
    <script src="../../js/header.js" defer></script>
    <script src="../../js/productDetail.js"></script>
    <script src="../../js/users/darkMode.js" type="text/javascript" defer></script>
    <script src="../../js/cart.js" defer></script>

</body>
</html>