<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="forms">
<!-- HEADER -->
<%- include('./partials/header') %> 
<!-- END HEADER -->
    <div id="particles-js"></div>
<!-- MAIN -->
    <main class="main_register">
        <section class="form-container register">
            <h1>Registrate</h1>
            <form action="/usuarios/registro" method="POST" id="formRegister" enctype="multipart/form-data">
                <div class="input-container">
                    <select class="input-style selec-container" name="province" id="province" value="">
                        <option value="" hidden>Elegí tu provincia</option>
                    </select>
                        <small class="text-danger" id="errorsSelect"><%= (locals.errors && errors.province)? errors.province.msg : "" %> </small>
                </div>
                <div class="nom_ape-container">
                    <div class="input-container rInput">
                        <input class="input-style rInput-style" placeholder="Nombre" type="text" name="name" id="name" value="<%= locals.oldData && oldData.name ? oldData.name : "" %>">
                        <small class="text-danger" id="errorsName"><%= (locals.errors && errors.name) ? errors.name.msg : "" %> </small>
                    </div>
                    <div class="input-container rInput">
                        <input class="input-style rInput-style" placeholder="Apellido" type="text" name="lastName" id="lastName" value="<%= locals.oldData && oldData.lastName ? oldData.lastName : "" %>">
                        <small class="text-danger" id="errorsLastName"><%= (locals.errors && errors.lastName) ? errors.lastName.msg : "" %> </small>
                    </div>
                </div>
                <div class="input-container">
                    <input class="input-style" placeholder="Nombre de usuario" type="text" name="userName" id="userName" value="<%= locals.oldData && oldData.userName ? oldData.userName : "" %>">
                    <small class="text-danger" id="errorsUserName"><%=(locals.errors && errors.userName) ? errors.userName.msg : "" %> </small>
                </div>

                <div class="input-container">
                    <input class="input-style" placeholder="Email" type="email" name="email" id="email" value="<%= locals.oldData && oldData.email ? oldData.email : "" %>">
                    <small class="text-danger" id="errorsEmail"><%= (locals.errors && errors.email) ? errors.email.msg :"" %> </small>
                </div>
                <div class="input-container pass-container">
                    <input class="input-style" placeholder="Contraseña" type="password" name="password" id="password">
                    <i class="fa-solid fa-eye-slash" id="eye"></i>
                </div>
                    <small class="text-danger" id="errorsPassword"><%= (locals.errors && errors.password) ? errors.password.msg : "" %> </small>
                <div class="mb-3">
                    <label for="icon" class="form-label">Foto de perfil</label>
                    <input class="form-control" type="file" id="icon" name="icon" >
                    <small class="text-danger" id="fileErrors"><%=(locals.errors && errors.icon) ? errors.icon.msg : "" %> </small>
                </div>
                <span>Al registrarte estás aceptando las <a href="/enlaces-utiles/politicas-de-privacidad" target="_blank">políticas de privacidad</a></span>
                <div class="btn-container">
                    <button type="submit" class="btn btn-submit">REGÍSTRARTE</button>
                    <span class="text-danger" id="submitErrors"></span>
                </div>
                <span class="span-register">¿Ya tenés cuenta? <a href="/usuarios/inicio">Iniciá sesión aquí</a></span>
            </form>
        </section>
    </main>

<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<!-- Scripts -->
<script src="/js/particlesFunko/particles.min.js"></script>
<script src="/js/particlesFunko/funkoParticle.js"></script>
<script src="/js/users/registerValidations.js" defer></script>
</body>
</html>