<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body>
<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->
<!-- MAIN -->
<main class="mainProduct">      
    <section id="section3">
        <div class="products-title">
            <h2 class="title-listado">RESULTADO DE LA BÚSQUEDA: "<%= keyword %>"</h2>
        </div> 
        <% if (productos.length > 0) { %> 
        <div class="interest">
            <%- include('./partials/productCard')  %> 
        <% } else {%> 
            <div class="col-12">
                <h2 class="products-title text-center" style="color: #35858B;"> NO HUBO RESULTADOS PARA TU BÚSQUEDA</h2>
            </div>
        </div>
        <% } %> 
    </section>
</main>
<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<script src="../../js/productDetail.js"></script>
<script src="../../js/cart.js" defer></script>

</body>
</html>