<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body>
<!-- HEADER -->
<%- include('partials/header') %> 
<!-- END HEADER -->
<!-- MAIN -->
<main>      
    <section id="section3">
        <div class="products-title">
            <p class="products-title"> Resultado de búsqueda: "<%= keyword %>" </p>
        </div> 
        <% if (searchResult.length > 0) { %> 
        <div class="interest">
            <% searchResult.forEach(productos => { %>
                    <div class="product">
                        <div class="img">
                            <img src="/img/productos/<%= productos.category %>/<%= productos.image %>" class="img-product" alt="...">
                        </div>
                        <div class="description">
                            <p class="funko-name"><%= productos.name %></p>
                            <p class="funko-prices">$<%= productos.price %></p>
                            <p class="funko-cuotes">en <%= productos.cuotes %> x $1.933,33</p>
                            <p class="funko-cuotes">Sin Interés</p>
                            <button>Agregar al carrito</button>
                        </div>
                    </div>
            <% }) %>
            <% } else {%> 

            <div class="col-12">
                <h2 class="products-title text-center" style="color: #35858B;"> NO HUBO RESULTADOS PARA TU BÚSQUEDA</h2>
            </div>
            <% } %> 

        </div>
    </section>
</main>
<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<script src="../../js/productDetail.js"></script>
</body>
</html>