<% productos.forEach(producto => { %>
    <div class="product">
        <a href="/productos/detalle/<%- producto.id %>" class="img">
        <img src="/img/productos/<% producto.images.forEach(img => { %><%= img.image %><% }) %>" class="img-product" alt="<%- producto.name %>">
        </a>
        <div class="description">
            <p class="funko-name"><%= producto.name %></p>
            <% if (producto.discount > 0) { %>
                <div id="product-discount">
                    <p class="funko-prices">$ <%= toThousand (producto.price - producto.discount * producto.price / 100) %></p> 
                    <p class="off"><%= producto.discount %> % OFF</p>
                </div>
            <% } else { %>
                <p class="funko-prices">$ <%= toThousand (producto.price) %></p>
            <% } %>
            <% if (producto.discount > 0) { %>
                <% let precioDescuento = producto.price - producto.discount * producto.price / 100 %>
                <p id="cuotas">en <%= producto.cuotes %> x $ <%= toThousand ((precioDescuento / producto.cuotes).toFixed(0)) %> Sin interés</p>
            <% } else { %>
                <p id="cuotas">en <%= producto.cuotes %> x $ <%= toThousand((producto.price / producto.cuotes).toFixed(0)) %> Sin interés</p>
            <% } %>
            <% if (session.user !== undefined) { %>
                <button  onclick="addToCart(`<%- producto.id %>`, 1,`<%= user %>`)">Agregar al carrito</button>
            <% } %> 
        </div>
    </div>
<% }) %>